.shop-item {
    margin-bottom: 50px;

    h1 {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .product-detail {
        display: flex;
        justify-content: space-between;

        .product-image {
            flex: 1;
            padding: 20px;
            img {
                max-width: 100%;
            }
        }

        .product-info {
            flex: 2;
            padding-left: 40px;

            h2 {
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
            }

            .product-pricing {
                list-style-type: none;
                padding: 0;
                margin-bottom: 20px;

                li {
                    margin-bottom: 5px;
                    font-size: 16px;
                }
            }

            p {
                margin-bottom: 20px;
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

.similar-products {
    h2 {
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    margin-bottom: 100px;

    .products-list {
        display: flex;
        justify-content: space-between;

        .product-item {
            width: 23%;
            text-align: center;

            img {
                max-width: 100%;
                height: auto;
                margin-bottom: 10px;
            }

            p {
                font-size: 14px;
                line-height: 1.5;
            }
        }
    }
}

// media
@media (max-width: 1024px) {
    .product-detail {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .product-image {
            margin-bottom: 20px;
        }

        .product-info {
            padding-left: 0;
            max-width: 90%;

            .product-title {
                font-size: 22px;
            }

            .product-pricing li {
                font-size: 15px;
            }

            .product-description, .product-contact {
                font-size: 13px;
            }
        }
    }

    .similar-products {
        .products-list {
            flex-direction: column;
            align-items: center;

            .product-item {
                width: 80%;
                margin-bottom: 20px;

                img {
                    max-width: 70%;
                }

                .product-name {
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .product-detail {
        .product-info {
            .product-title {
                font-size: 20px;
            }

            .product-pricing li {
                font-size: 14px;
            }

            .product-description, .product-contact {
                font-size: 12px;
            }
        }
    }

    .similar-products {
        .products-list {
            .product-item {
                width: 90%;

                img {
                    max-width: 80%;
                }

                .product-name {
                    font-size: 12px;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .shop-item__title {
        font-size: 28px;
    }

    .product-detail {
        .product-info {
            .product-title {
                font-size: 18px;
            }

            .product-pricing li {
                font-size: 13px;
            }

            .product-description, .product-contact {
                font-size: 11px;
            }
        }
    }

    .similar-products {
        .products-list {
            .product-item {
                width: 100%;

                img {
                    max-width: 100%;
                }

                .product-name {
                    font-size: 11px;
                }
            }
        }
    }
}
